@{
    ViewData["Title"] = "_BellaSalonLayout";
}

@RenderBody()

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bella's Spa and Nails </title>
    <style>
        body {
            background-image: url('/images/spa.jpg');
            margin: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
        }
    </style>
</head>





