<h2>Menu</h2>

@{ Layout = null;}

<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Menu</title>
    <style>
        .menu-body 
        {
            max-width: 680px;
            margin: 0 auto;
            display: block;
            color: rgb(92, 92, 92);
        }

        .menu-section
        {
            margin-bottom: 80px
        }

        .menu-section-title
        {
            font-family: Georgia;
            font-size: 50px;
            display: block;
            font-weight: normal;
            margin: 20px 0;
            text-align: center;
        }

        .menu-item
        {
            margin: 35px 0;
            font-size: 18px;
        }

        .menu-item-name
        {
            font-family: Helvetica;
            font-weight: bold;
            border-bottom: 2px dotted rgb(213,213,213);
        }

        .menu-item-description
        {
            font-style: italic;
            font-size: 2em;
            line-height: 1.5em;
        }

        .menu-item-price
        {
            float: right;
            font-weight: bold;
            font-family: Arial;
            margin-top: -22px;
        }
    </style>

</head>

<body>
    <div class="menu-body">
        <!--Section starts: appetizers-->
        <div class="menu-section">
            <h2 class="menu-section-title">CYBER PIZZA MENU</h2>
            <!--Item starts-->
            <div class="menu-item">
                <div class="menu-item-name">
                    Four Cheese Pizza
                </div>
                <div class="menu-item-price">
                    $12.00+
                </div>
                <div class="menu-item-description">
                    Mozzarella, cheddar, provolone, and parmesan.
                </div>
            </div>
            <!--Item ends-->
            <!--Item starts-->
            <div class="menu-item">
                <div class="menu-item-name">
                    BBQ Chicken Pizza
                </div>
                <div class="menu-item-price">
                    $10.95+
                </div>
                <div class="menu-item-description">
                    Chicken strips in BBQ sauce with mozzarella cheese.
                </div>
            </div>
            <!--Item ends-->
            <!--Item starts-->
            <div class="menu-item">
                <div class="menu-item-name">
                    Mexican Pizza (Gluten Free)
                </div>
                <div class="menu-item-price">
                    $16.75
                </div>
                <div class="menu-item-description">
                    10" size only. Pizza sauce, mozzarella, ground beef, bacon, lettuce, tomatoes, black olives, and cheddar cheese
                </div>
            </div>
            <!--Item ends-->
            <!--Item starts-->
            <div class="menu-item">
                <div class="menu-item-name">
                    Cyber Supreme Pizza
                </div>
                <div class="menu-item-price">
                    $12.95
                </div>
                <div class="menu-item-description">
                    Pizza sauce, sausage, pepparoni, onions, green and red peppers, and mushrooms.
                </div>
            </div>
            <!--Item ends-->
            <!--Item starts-->
            <div class="menu-item">
                <div class="menu-item-name">
                    Shrimp Parmigiana Pizza (Gluten Free)
                </div>
                <div class="menu-item-price">
                    $18.95
                </div>
                <div class="menu-item-description">
                    10" size only. Pizza sauce, breaded shrimp, and mozzarella
                </div>
            </div>
            <!--Item ends-->
            <!--Item starts-->
            <div class="menu-item">
                <div class="menu-item-name">
                    Cyber Calzones
                </div>
                <div class="menu-item-price">
                    $7.95+
                </div>
                <div class="menu-item-description">
                    Mozzarella and ricotta cheese with marinara sauce (3.25oz) on the side
                    Extra marinara sauce - $1.00
                </div>
            </div>
            <!--Item ends-->
            <!--Section ends: Appetizers-->
            <!--Section starts: Drinks-->
            <div class="menu-section">
                <h2 class="menu-section-title">CYBER BEVERAGES</h2>
                <!-- Item starts -->
                <div class="menu-item">
                    <div class="menu-item-name">
                        Tasty Drink
                    </div>
                    <div class="menu-item-price">
                        $30
                    </div>
                    <div class="menu-item-description">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
                    </div>
                </div>
                <!-- Item ends -->
                <!-- Item starts -->
                <div class="menu-item">
                    <div class="menu-item-name">
                        Tasty Drink
                    </div>
                    <div class="menu-item-price">
                        $30
                    </div>
                    <div class="menu-item-description">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
                    </div>
                </div>
                <!-- Item ends -->
                <!-- Item starts -->
                <div class="menu-item">
                    <div class="menu-item-name">
                        Tasty Drink
                    </div>
                    <div class="menu-item-price">
                        $30
                    </div>
                    <div class="menu-item-description">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
                    </div>
                </div>
                <!-- Item ends -->
                <!-- Item starts -->
                <div class="menu-item">
                    <div class="menu-item-name">
                        Tasty Drink
                    </div>
                    <div class="menu-item-price">
                        $30
                    </div>
                    <div class="menu-item-description">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
                    </div>
                </div>
                <!-- Item ends -->
            </div>
            <!-- Section ends: Drinks -->
        </div>
    </div>
</body>

</html>

