@model BellaSalon.Models.AppointmentResponse

@{
    Layout = null;
}

<h2>Thanks</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Thanks!</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center">
    <p>
        <h2>WE HAVE RECEIVED THE INFORMATION </h2>
        

    </p>
    Click <a class="nav-link" asp-action="AppointmentDetailReport">here</a>
    to see Scheduled Appointment.
</body>
</html>