@model TomatoPizzaCafe.Models.Pizza

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanks for your order!!</h2>
<p>Don't ever be shy to come one back</p>
<p>But first.... we will see you soon...</p>
<p>with pizza...</p>